@import url('reset.css');

        body {
            background: url('../img/cover.png') no-repeat  fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            font-family: 'Lobster', cursive;
        }
.nav{
	margin: 0px;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #9ACD32;

}
li{
	float: left; 
}
li a{
	display: block;
	color: green;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;;
}
li a:hover{
	background-color: #111;
}



input[type=text],input[type="text"],input[type="password"],select,textarea,input[type="date"]
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing:  border-box;
}

input[type=submit]
{
	width: 100%;
	background-color: green;
	color: white;	
	padding: 12px 20px;

	margin: 8px 0;
	display: inline-block;
	border: none;

	border-radius: 4px;
	cursor: pointer;;
}


input[type=submit]:hover
{
	
	background-color: black;
}
div{
	border-radius: 5px;
	background-color: white;
	padding: 20px;
}
textarea
{
resize: vertical;;
}


table {
border-collapse: collapse;
width: 100%;

}
th,td{
	text-align: center;
	padding: 8px;
}

th{
	background-color: #3CAF50;
	color: white;
}